html, body{
	margin: 0;
	background-color: #808080;
}
div{
	text-align: center;
	background-color: #c0c0c0;
	margin: auto;
}
header, #interface{
	background-color: #a0a0a0;
	margin-left: 4em;
	margin-right: 4em;
	padding: 1em;
	border-radius: 5px;
	border: 1px solid #808080;
}
h1{
	text-align: left;
	margin: 0;
	margin-left: 1em;
}
canvas{
	margin: 3em;
	width: 52em;
	height: 39em;
	border-radius: 5px;
	border: 1px solid #808080;
}
#main{
	padding-top: 2em;
	width: 60em;
	height: 100em;
	border-radius: 5px;
	border: 1px solid #606060;
}
select,input{
	background-color: #c0c0c0;
}